name: ci

on:
  push:

jobs:
  login:
    runs-on: ubuntu-latest
    steps:
      - shell: sh
        env: 
          USERNAME:  ${{ secrets.DOCKERHUB_USERNAME }} 
        run: |
          echo "%USERNAME"
      -
        name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}     
  buildx:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Available platforms
        run: echo ${{ steps.buildx.outputs.platforms }}
      -
        name: Build
        run: |
           docker buildx build --platform linux/arm64,linux/amd64   --tag ahmadhassan83/myapprest . --push
